<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" httpResponseStatus="Permanent" />
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="Max-Age=7200" />
                <add name="Connection" value="Keep-Alive" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
