{template "content","header"}
<div id="banner">
  <h1 class="b{$CATEGORYS[$CAT[parentid]][catdir]}">{$CATEGORYS[$CAT[parentid]][catname]}</h1>
</div>
<div id="fb-main" class="specialty">
<div class="all-out">	
	{if $catid==61}

	<div id="fb-side">
    <ul class="fb-tab">
	    <li {if !$id}class="ed"{/if}><a href="index.php?m=content&c=index&a=lists&catid=61">查看所有</a></li>
       	{pc:content action="lists" catid="$catid" order="listorder ASC"}
		{loop $data $r}		
		<li  {if $r[id]==$id}class="ed"{/if}><a href="{$r[url]}">{$r[title]}</a></li>		
		{/loop}
		{/pc}
    </ul>
  	</div>
   	<div id="specialty">
	<div class="subnav">您所在的位置：<a href="index.php">网站首页</a> &gt; <a href="{$CATEGORYS[$CAT[parentid]][url]}">{$CATEGORYS[$CAT[parentid]][catname]}</a> &gt; {$CAT[catname]}</div>

 	 <ul class="servicelist">
	 	{pc:content action="lists" catid="$catid" order="listorder ASC"}
		{loop $data $r}	
		<li ><a href="{$r[url]}" style="background: #FFF url({$r['thumb']}) no-repeat;">{$r[title]}</a></li>
		{/loop}
		{/pc}
    </ul>	

    {elseif $catid==40} 
    
	<div id="fb-area">
	<div class="subnav">您所在的位置：<a href="index.php">网站首页</a> &gt; <a href="{$CATEGORYS[$CAT[parentid]][url]}">{$CATEGORYS[$CAT[parentid]][catname]}</a> &gt; {$CAT[catname]}</div>
    <dl class="fb-newlist f16">
	  	{pc:content action="lists" catid="$catid" order="id DESC" page="$page" moreinfo="1" num="12"}
		{loop $data $n $r}
		<dt><a href="{$r['url']}">{$r['title']}</a></dt>
		<dd>{date('Y-m-d',$r[inputtime])}</dd>		
		{/loop}{/pc}
	</dl>
    <div class="fb-pagenav">{$pages}</div>
	
	{else}
    {template "content","left"} 
    <dl class="newlist f16">
	  	{pc:content action="lists" catid="$catid" order="id DESC" page="$page" moreinfo="1" num="12"}
		{loop $data $n $r}
		<dt><a href="{$r['url']}">{$r['title']}</a></dt>
		<dd>{date('Y-m-d',$r[inputtime])}</dd>		
		{/loop}{/pc}
	</dl>
    <div class="pagenav">{$pages}</div>
    {/if}
  </div>
</div>
</div>
{template "content","footer"}